<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/check/' %> -->
    <% include ../parts/head/_headMeta.ejs %>

    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>

    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">빅오쇼예약시스템</h1>
    <div id="wrap" class="wrap">
        <% include ../parts/_header.ejs %>

        <div class="main containerF">

            <nav class="pathNav container">
                <ul class="cf">
                    <li><a href="/views/">홈</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li class="on"><a href="/views/check/index_02.html">예매확인/취소</a></li>
                </ul>
            </nav>
            <section class="bkComplete-sec bkTbCms container cm-s">

                <div class="mainTxt">
                    <h2><span class="cl-blue">예약취소</span>가 <span class="cl-blue">완료</span>되었습니다.</h2>
                    <p class="p-1">
                        빅오쇼 통합 예매시스템을 이용해 주셔서 감사합니다.
                    </p>
                </div>

                <h3>예약취소 정보</h3>
                <table class="bkInfoTb tbCms">
                    <colgroup>
                        <col class="nth-1">
                        <col class="nth-2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>예약상태</th>
                            <td><span class="cl-red f-bd">예약취소</span></td>
                        </tr>
                        <tr>
                            <th>취소완료일</th>
                            <td>2018년 3월 7일</td>
                        </tr>
                        <tr>
                            <th>구매처</th>
                            <td>홈페이지</td>
                        </tr>
                        <tr>
                            <th>관람일자/구역</th>
                            <td>2018년 3월 8일 목요일 <span class="s-l">ㅣ</span> A구역 (S좌석)</td>
                        </tr>
                        <tr>
                            <th>좌석번호</th>
                            <td>4열 17, 4열 18, 4열 19, 4열 20, 4열 21, 4열 22</td>
                        </tr>
                        <tr>
                            <th>인원</th>
                            <td>총 6명 (성인 2명, 중고생,경로2명, 어린이 1명)</td>
                        </tr>
                        <tr>
                            <th>상품금액</th>
                            <td>성인 2명  36,000원 <span class="s-l">ㅣ</span> 중고생,경로 3명   24,000원 <span class="s-l">ㅣ</span> 어린이 1명  14,000원 <span class="s-l">ㅣ</span> 총 금액  86,000원</td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-row-1 container">
                    <p class="tit dot">
                        <span class="ic-rArrow rArrow"></span>
                        쿠팡, 티몬 등 외부 온라인 쇼핑몰 구매자 예매 취소 안내
                    </p>
                    <p class="txt">
                        1. 예매 및 결제 취소는 관람 예정일 2일 전까지만 가능합니다.
                    </p>
                    <p class="txt">
                        2. 부분 취소는 불가하며, 전체내역 취소 후 다시 예매하셔야 합니다.
                    </p>
                    <p class="txt">
                        3. 예약취소가 완료 후, 구매하신 해당 쇼핑몰에 반품/ 환불 신청을 하셔야 해당 쇼핑몰에서 환불됩니다.
                    </p>
                    <p class="txt">
                        4. 구매하신 쇼핑몰에 예약일 1일 전까지 취소 요청하셔야 정상 취소되오니 유의바랍니다.
                    </p>
                    <p class="txt">
                        5. 관람 예정일 당일에는 예매 취소가 불가합니다.
                    </p>
                </div>

                <div class="btnArea">
                    <a href="/views/" class="a-btn a-2">홈</a>
                </div>

			</section>

		</div>

        <% include ../parts/_footer.ejs %>
    </div>

</body>
</html>
