<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/check/' %> -->
    <% include ../parts/head/_headMeta.ejs %>

    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>

    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">빅오쇼예약시스템</h1>
    <div id="wrap" class="wrap">
        <% include ../parts/_header.ejs %>

        <div class="main containerF">

            <nav class="pathNav container">
                <ul class="cf">
                    <li><a href="/views/">홈</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li class="on"><a href="/views/onBooking/">구매자정보 입력</a></li>
                </ul>
            </nav>
            <section class="bookerInfo-sec bkTbCms container cm-s">

                <h2 class="ls-1">온라인 쇼핑몰 구매자 예약</h2>
                <p class="p-1 ls-1">
                    쿠팡/티몬/ 지마켓 등 외부 온라인 쇼핑몰 구매완료 고객
                </p>

                <h3>예약자 정보 입력</h3>

                <div class="btnArea">
                    <a href="/views/onBooking/index_01_02.html" class="a-btn wd-2 a-2">구매내역 인증 <span class="ic-rArrow rArrow"></span></a>
                </div>

			</section>

		</div>

        <% include ../parts/_footer.ejs %>
    </div>

</body>
</html>
