<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/check/' %> -->
    <% include ../parts/head/_headMeta.ejs %>

    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>

    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">빅오쇼예약시스템</h1>
    <div id="wrap" class="wrap">
        <% include ../parts/_header.ejs %>

        <div class="main containerF">

            <nav class="pathNav container">
                <ul class="cf">
                    <li><a href="/views/">홈</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li class="on"><a href="/views/check/index_02.html">예매확인/취소</a></li>
                </ul>
            </nav>
            <section class="lookup-sec-3 bkTbCms container cm-s">

                <h2 class="ls-1">예매 조회/취소</h2>
                <p class="p-1 ls-1">홈페이지에서 구매한 예약 및 취소된 목록을 보여드립니다.</p>

                <h3>예약내역 및 결제 정보</h3>
                <table class="bkInfoTb tbCms">
                    <colgroup>
                        <col class="nth-1">
                        <col class="nth-2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>예약상태</th>
                            <td>정상</td>
                        </tr>
                        <tr>
                            <th>구매처</th>
                            <td>쿠팡</td>
                        </tr>
                        <tr>
                            <th>관람일자/구역</th>
                            <td>2018년 3월 8일 목요일 <span class="s-l">ㅣ</span> A구역 (S좌석)</td>
                        </tr>
                        <tr>
                            <th>좌석번호</th>
                            <td>4열 17, 4열 18, 4열 19, 4열 20, 4열 21, 4열 22 <a href="#" class="a-btn seat">선택 좌석 보기</a></td>
                        </tr>
                        <tr>
                            <th>인원</th>
                            <td>총 6명 (성인 2명, 중고생,경로2명, 어린이 1명)</td>
                        </tr>
                        <tr>
                            <th>상품금액</th>
                            <td>성인 2명  36,000원 <span class="s-l">ㅣ</span> 중고생,경로 3명   24,000원 <span class="s-l">ㅣ</span> 어린이 1명  14,000원 <span class="s-l">ㅣ</span> 총 금액  86,000원</td>
                        </tr>
                    </tbody>
                </table>

                <div class="btnArea">
                    <a href="/views/" class="a-btn a-2 mr-1">홈</a>
                    <a href="/views/check/index_04_coupang.html" class="a-btn">예약/결제 취소</a>
                </div>

			</section>

		</div>

        <% include ../parts/_footer.ejs %>

        <div id="wrap-pop" class="wrap-pop">
            <div class="backDropBg"></div>

            <% include ../parts/layerPop/_sltSeatCheckPop.ejs %>
        </div>
    </div>

</body>
</html>
