<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/booking/' %> -->
    <% include ../parts/head/_headMeta.ejs %>

    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>

    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">빅오쇼예약시스템</h1>
    <div id="wrap" class="wrap">
        <% include ../parts/_header.ejs %>

        <div class="main containerF">

            <nav class="pathNav container">
                <ul class="cf">
                    <li><a href="/views/">홈</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li><a href="/views/booking/index_02.html">공연일정</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li><a href="/views/booking/index_02.html">구역 선택</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li><a href="/views/booking/index_03.html">인원 및 좌석선택</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li class="on"><a href="/views/booking/index_04.html">예약자 정보입력</a></li>
                </ul>
            </nav>
            <section class="bookerInfo-sec bkTbCms container cm-s">

                <h2 class="ls-1">예약자 정보입력</h2>
                <p class="p-1 ls-1">
                    ※ 선택하신 내용을 다시 한번 확인 해주세요
                </p>

                <table class="bkInfoTb tbCms">
                    <colgroup>
                        <col class="nth-1">
                        <col class="nth-2">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>관람일자/구역</th>
                            <td>2018년 3월 8일 목요일 <span class="s-l">ㅣ</span> A구역 (S좌석)</td>
                        </tr>
                        <tr>
                            <th>좌석번호</th>
                            <td>4열 17, 4열 18, 4열 19, 4열 20, 4열 21, 4열 22 <a href="#" class="a-btn seat">선택 좌석 보기</a></td>
                        </tr>
                        <tr>
                            <th>인원</th>
                            <td>총 6명 (성인 2명, 중고생,경로2명, 어린이 1명)</td>
                        </tr>
                        <tr>
                            <th>상품금액</th>
                            <td>성인 2명  36,000원 <span class="s-l">ㅣ</span> 중고생,경로 3명   24,000원 <span class="s-l">ㅣ</span> 어린이 1명  14,000원</td>
                        </tr>
                        <tr>
                            <th>총 결제금액</th>
                            <td><span class="s-prc">86,000<span>원</span></span></td>
                        </tr>
                    </tbody>
                </table>

                <h3>예약자 정보 입력</h3>
                <table class="bkInputTb tbCms">
                    <col class="nth-1">
                    <col class="nth-2">
                    <tbody>
                        <tr>
                            <th>예약자명</th>
                            <td><input type="text" class="inp inp-01"></td>
                        </tr>
                        <tr>
                            <th>휴대폰번호</th>
                            <td>
                                <select name="" id="" class="slt slt-01">
                                    <option value="">010</option>
                                    <option value="">0707</option>
                                </select>
                                <span>-</span>
                                <input type="text" class="inp inp-02">
                                <span>-</span>
                                <input type="text" class="inp inp-02">

                                <span class="s-ps">※ 모바일 티켓 수신 휴대폰 번호</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="p-ps cl-blue">
                    모바일 티켓은 구매 후 10분 이내에 입력하신 휴대폰 번호로 전송됩니다.<br>
                    티켓 미수신 시 스팸 메시지함을 먼저 확인 부탁드립니다.
                </p>

                <h3>이용약관 <input type="checkbox" id="agree-01" class="agree-01"> <label for="agree-01" class="fz-15">이용약관에 동의합니다.</label></h3>
                <div class="txtArea tbCms">
                    <div class="inTxt">
                        <p class="p-1">이용약관</p>

                        <p class="p-2">제 1 조 약관의 적용</p>

                        빅오 입장 및 쇼 관람에 관한 규정은 본 약관에 정하는 바에 의하고 본 약관에 규정되지 않은 내용에 관하여는 관련 법령에 의하며 관련 법령에 규정이 없을 경우 관습에 의합니다.<br>


                        <p class="p-2">제 2 조 운영일, 운영시간 및 입장제한</p>

                        1. 운영일 및 운영시간은 별도로 게시하여 운영하되 변경할 수 있습니다. <br>
                        2. 특별한 경우(천재지변, 불가항력, 예측하지 못한 기상변화, 사업자의 경영사정, 영업정책의 변화 등)에는 일정기간 휴장할 수 있습니다. <br>
                        3. 관람객의 안전과 편의를 위하여 적정 입장인원 초과 시 입장을 제한할 수 있습니다.<br>
                        4. 적정 입장인원 초과 시 입장권 판매 중단이 가능하며 이를 입장 전 관람객에게 안내 및 고지합니다. <br>


                        <p class="p-2">제 3 조 요금의 적용</p>

                        1. 적용연령<br>
                           가. 어린이: 만3세 이상∼만13세 미만<br>
                           나. 청소년: 만13세 이상∼만19세 미만<br>
                           다. 성인 : 만19세 이상∼만65세 미만<br>
                           라. 경로 : 만65세 이상 <br>
                        2. 단체요금의 적용 <br>
                           20명 이상의 요구에 의해 발권하며 해당 요금은 별도로 적용할 수 있습니다. 단, 단체요금의 적용은 일정한 목적에 의해 단체명의로 입장하는 경우에 한합니다.<br>
                        3. 입장권 종류별 적용 내용<br>
                           가. P석 : 지정 좌석제인 Premium Seat을 이용할 수 있는 입장권<br>
                           나. S석 : 자유석인 Standard Seat을 이용할 수 있는 입장권<br>
                           다. 기 타 : 각 이용권은 조정될 수 있으며 이용객의 특성에 맞는 입장권 제도를 실시할 수 있습니다. <br>
                        4. 장애자 및 경로자에 대한 우대요금은 사업자의 영업환경 등에 따라 변경될 수 있으며, 이에 대한 구체적 내용은 매표소 등에 게시하여 시행합니다. 우대요금 적용시, 이를 확인할 수 있는 증명(경로우대증 또는 장애인등록증 등)을 제시하여야 합니다. <br>
                        5. 요금은 별도 게시하며, 사업자의 경영사정 및 정책에 따라 변경될 수 있습니다. <br>


                        <p class="p-2">제 4 조 요금의 환불</p>

                          1. 입장권(P석, S석 등)은 입장한 후에는 환불하지 않습니다. <br>
                          다만 입장 후 관람객의 사정상 빅오 관람이 불가한 사유로 그 정당한 사유가 인정되는 경우에는 관람객이 입장을 증명할 수 있는 증표를 제시하면 사업자가 여러 상황 등을 고려하여 재관람권의 지급 또는 환불조치를 취할 수 있습니다. 재관람권의 지급이나 환불 등의 구체적인 조건은 사업자가 별도로 정한 규정을 적용합니다. <br>

                          2. 일반적인 개인 사정으로 인한 재관람권 지급 및 환불은 불가합니다. 다만 기상변화로 인하여 쇼의 진행이 현저히 불가능할 경우 재관람권 지급 및 환불은 가능합니다.<br>


                        <p class="p-2">제 5 조 이용수칙 준수</p>

                        관람객의 안전을 도모하고 공공성을 유지하기 위하여 관람객은 다음의 이용수칙을 준수하여야 합니다.<br>
                        1. 관람객의 안전 및 쾌적한 관람 환경 조성<br>
                           가. 음료수, 물, 이유식, 환자를 위한 특별식 외 다음과 같은 경우 음식물 반입이 제한됩니다.<br>
                             ㄱ. 위생사고를 발생시킬 수 있는 음식물<br>
                             ㄴ. 과도한 냄새로 인해 다른 관람객에게 불쾌감을 줄 수 있는 음식물<br>
                             ㄷ. 껍질, 부스러기, 액체 기타 잔여물 등으로 쾌적한 환경을 저해하거나 시설을 오염시킬 수 있는 음식물<br>
                             ㄹ. 다른 관람객의 안전을 위협할 수 있는 음식물(병류, 화기를 이용해 조리를 하는 음식물 등)<br>
                           나. 애완동물을 데리고 입장할 수 없습니다.<br>
                           다. 다른 사람에게 혐오감을 주는 복장이나 고성방가, 폭력행사 등 빅오 관람 중 다른 사람에게 해가 될 우려가 있는 행동을 하는 자는 입장을 제한하거나 강제퇴장 조치할 수 있습니다.<br>
                          라. 다음의 행위는 금지됩니다.<br>
                             ㄱ. 위험물의 반입 <br>
                             ㄴ. 물품의 판매 및 진열 <br>
                             ㄷ. 전단배포 <br>
                             ㄹ. 집회 및 연설 <br>
                             ㅁ. 상업목적의 촬영 <br>
                             ㅂ. 빅오 연출장비 및 관련시설의 운영을 방해하는 일체의 행위 <br>
                        2. 공연 관람<br>
                          쇼를 보기 위한 장소를 확보하기 위하여 개인 소지품 및 물건을 놓은 채로 자리를 떠날 수 없습니다. 이러한 목적으로 방치된 물건은 임의로 그 자리에서 치워질 수 있다. <br>
                        3. 흡연 및 음주<br>
                           가. 빅오 구역 내 및 대기라인, 식음시설, 상품점, 화장실에서의 흡연은 금지되며, 흡연구역(재떨이가 설치된 지정된 장소 등)에서만 흡연이 허용됩니다. <br>
                           나. 미성년자는 관련법령에 따라 주류, 담배 등 구매제한 물품을 구입할 수 없습니다. <br>


                        <p class="p-2">제 6 조 쇼 관람의 제한</p>

                        1. 쇼 관람시 고객의 안전을 위하여 나이, 신장, 건강상태 등의 신체조건을 고려하여 쇼 관람을 제한할 수 있습니다.<br>
                        2. 영업시간 중 안전을 위한 시설물 점검 시 관람을 일시적으로 중단할 수 있습니다.<br>


                        <p class="p-2">제 7 조 재입장</p>

                        관람객이 퇴장한 후 재입장은 원칙적으로 불가합니다. <br>
                        다만 사업자가 인정하는 경우는 재입장이 가능하되 사업자측에서 이를 승인하는 표시가 있어야 합니다. <br>


                        <p class="p-2">제 8 조 미아보호</p>

                        1. 영업시간 중<br>
                          가. 2012여수세계박람회재단은 미아보호소를 운영하며 미아를 보호자에게 인계하기 위한 제반 조치를 취합니다. <br>
                          나. 미아 인수인계시 상호확인을 위하여 사업자는 미아접수 및 관리대장을 비치, 활용합니다. <br>
                        2. 영업시간 종료 후<br>
                          당일 발생미아는 해당미아 발생기록과 함께 관할경찰서에 인계합니다.<br>


                        <p class="p-2">제 9 조 분실물 처리</p>

                        1. 2012여수세계박람회재단 내에 분실물보관소를 운영하며 물품의 인계를 위한 제반조치를 취합니다.<br>
                        2. 분실물 접수 및 인수인계사항은 분실물 처리대장에 기록, 유지합니다.<br>
                        3. 접수된 물품을 소유자가 찾아가지 않을 시 관할 경찰서에 신고 및 인계합니다.<br>
                        4. 기타 분실물 처리에 관한 제반사항은 관련법의 규정에 따릅니다. <br>


                        <p class="p-2">제 10 조 손해배상 등</p>

                        1. 시설물 관리 등에 있어서 고의 또는 과실로 인하여 관람객에게 손해가 발생하였을 경우 민법 기타 관련 법령에 따른 배상의 의무를 집니다.<br>
                        2. 관람객의 귀책사유에 의해 발생한 사고에 대하여는 민법 기타 관련 법규상의 손해배상 규정에 따라 처리합니다. <br>


                        <p class="p-2">-------------------------------</p>


                        <p class="p-1">개인정보의 수집에 대한 동의</p>

                        1. 여수 빅오쇼는 개인정보의 수집 시 관련 법규에 따라 가입신청서 또는 이용약관에 그 수집 범위 및 목적을 사전 고지 합니다. <br>
                        2. 여수 빅오쇼는 고객의 기본적인 인권을 현저하게 침해할 우려가 있는 개인정보를 수집하지 않습니다.<br>
                        3. 여수 빅오쇼는 다음 각 호의 개인정보를 아래와 같은 목적을 위하여 수집하고 있습니다.<br>


                        <p class="p-1">개인정보의 처리 목적</p>

                        회사는 관련 법령 또는 규정이 허용하는 범위에서 다음의 목적을 위하여 개인정보를 처리합니다.<br> 처리하는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 수집하는 개인정보 항목에 따른 구체적인 수집목적 및 이용목적은 다음과 같습니다.<br>
                        - 성명, 아이디, 비밀번호, 생년월일, 성별: 서비스 이용에 따른 본인 식별 절차에 이용<br>
                        - 주소, 전화번호, 휴대폰번호, E-mail주소,이메일/SMS수신여부: 공지사항 전달, 본인 의사 확인, 불만 처리 등 원활한 의사 소통 경로의 확보, 새로운 서비스, 신상품 및 이벤트 정보 등의 최신 정보 안내, DM 발송 등의 배송에 대한 정확한 배송지의 확보<br>
                        - 쿠키, 접속로그: 방문자 로그분석<br>


                        <p class="p-1">개인정보의 처리 및 보유기간</p>

                        1. 회사는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유?이용기간 내에서 개인정보를 처리.보유합니다. 개인정보 수집 및 이용목적이 달성된 후에는 재생할 수 없는 방법에 의하여 완전히 삭제하며, 추후 열람이나 이용이 불가능한 상태로 처리 됩니다.<br>
                        2. 단, 수집 목적 또는 제공 받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에 회사는 아래와 같이 일정한 기간 동안 회원정보를 보관합니다.<br>

                        - 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br>
                        - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br>
                        - 소송이나 분쟁에 있어 근거자료로 보존할 필요성이 있는 경우 : 5년<br>
                        - 표시, 광고에 관한 기록: 6개월<br>
                        * 상기 보유 기간은 ‘전자상거래 등에서의 소비자 보호에 관한 법률’에 의거합니다.<br>
                    </div>
                </div>


                <div class="btnArea">
                    <a href="/views/" class="a-btn a-1">홈</a>
                    <a href="/views/booking/index_05.html" class="a-btn a-2">예약확인</a>
                </div>

			</section>

		</div>

        <% include ../parts/_footer.ejs %>

        <div id="wrap-pop" class="wrap-pop">
            <div class="backDropBg"></div>

            <% include ../parts/layerPop/_sltSeatCheckPop.ejs %>
        </div>
    </div>

</body>
</html>
