<% include ../parts/_docHead.ejs %>
<head>
    <!-- <%= initPage = '/booking/' %> -->
    <% include ../parts/head/_headMeta.ejs %>

    <% include ../parts/head/_commonCss.ejs %>
    <% include ../parts/head/_headScript.ejs %>

    <% include ../parts/head/_commonScript.ejs %>
</head>
<body>
    <h1 class="hidden">빅오쇼예약시스템</h1>
    <div id="wrap" class="wrap">
        <% include ../parts/_header.ejs %>

        <div class="main containerF">

            <nav class="pathNav container">
                <ul class="cf">
                    <li><a href="/views/">홈</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li><a href="/views/booking/index_02.html">공연일정</a></li>
                    <li><span class="ic-rArrow rArrow"></span></li>
                    <li class="on"><a href="/views/booking/index_02.html">구역 및 좌석선택</a></li>
                </ul>
            </nav>
            <section class="area-sec container cm-s">

                <h2 class="ls-1">구역 및 좌석선택</h2>
                <p class="p-1 ls-1">
                    관람을 원하시는 구역을 선택해 주세요
                </p>

                <figure class="areaFg" id="areaFg">
                    <img src="/img/booking/area_full.jpg" alt="좌석선택이미지" class="areaImg">
                </figure>

                <h3 class="tab-tit">구역별 잔여석 안내</h3>
                <ul class="areaTab cf" id="areaTab">
                    <li>
                        <!-- S석: s-green, P석: s-org -->
                        <div class="d-tit"><span class="s-green"></span>A구역(S석)</div>
                        <div class="d-txt">
                            <p class="nth-1">154석</p>
                            <p><a href="javascript:;" class="a-btn">구역선택</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="d-tit"><span class="s-green"></span>B구역(S석)</div>
                        <div class="d-txt">
                            <p class="nth-1">54석</p>
                            <p><a href="javascript:;" class="a-btn">구역선택</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="d-tit"><span class="s-green"></span>C구역(S석)</div>
                        <div class="d-txt">
                            <p class="nth-1">14석</p>
                            <p><a href="javascript:;" class="a-btn">구역선택</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="d-tit"><span class="s-org"></span>D구역(P석)</div>
                        <div class="d-txt">
                            <p class="nth-1">0석</p>
                            <!-- 예매마감 off 클래스 -->
                            <p><a href="javascript:;" class="a-btn off">예매마감</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="d-tit"><span class="s-org"></span>E구역(P석)</div>
                        <div class="d-txt">
                            <p class="nth-1">12석</p>
                            <p><a href="javascript:;" class="a-btn">구역선택</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="d-tit"><span class="s-green"></span>F구역(S석)</div>
                        <div class="d-txt">
                            <p class="nth-1">1200석</p>
                            <p><a href="javascript:;" class="a-btn">구역선택</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="d-tit"><span class="s-green"></span>G구역(S석)</div>
                        <div class="d-txt">
                            <p class="nth-1">100석</p>
                            <p><a href="javascript:;" class="a-btn">구역선택</a></p>
                        </div>
                    </li>
                    <li>
                        <div class="d-tit"><span class="s-green"></span>H구역(S석)</div>
                        <div class="d-txt">
                            <p class="nth-1">95석</p>
                            <p><a href="javascript:;" class="a-btn">구역선택</a></p>
                        </div>
                    </li>
                </ul>

                <h3 class="tab-tit"><span class="cl-blue">A구역</span> 좌석 등급 및 잔여석</h3>
                <table class="areaSeatTb">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                        <th>좌석등급</th>
                        <th>구분</th>
                        <th>금액</th>
                        <th>잔여석</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3" class="fz-17"><span class="s-green"></span>S석</td>
                            <td>성인</td>
                            <td>22,000원</td>
                            <td rowspan="3" class="fz-17">83석 </td>
                        </tr>
                        <tr>
                            <td>중고생/경로</td>
                            <td>18,000원</td>
                        </tr>
                        <tr>
                            <td>어린이</td>
                            <td>16,000원</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    성인(19세이상), 중고생(14~18세), 경로(만 65세 이상), 어린이(36개월～13세)티켓예매는 일반요금에 한하여 예매가 가능합니다.<br>
                    여수시민/ 유공자/등 특별할인 대상자는 공연 당일 현장 구매일 경우만 확인증(주민등록증, 복지카드 등)을 제시하시면 할인 구매하실 수 있습니다.
                </p>

                <div class="btnArea"><a href="/views/booking/index_03.html" class="a-btn f-bd">구역선택완료</a></div>
			</section>

		</div>

        <% include ../parts/_footer.ejs %>
    </div>

</body>
</html>
