<header class="header">
	<div class="hd-area container">
		<a href="/views/" class="a-logo"><img src="/img/common/bookingLogo.png" alt="빅오쇼예약시스템로고"></a>
		<nav class="g-nav">
			<ul class="gnb">
				<li><a href="/views/booking/">티켓예매</a></li>
				<li><a href="/views/onBooking/">온라인쇼핑몰 구매자 예약</a></li>
				<li><a href="/views/check/">예매확인/취소</a></li>
			</ul>
		</nav>
	</div>
</header>
